* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #c7011a;
}

.nav {
  background-position: center;
  font-family: 'Biryani', sans-serif;
  color: #015001;
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  align-items: center;
}

h1, h2, h3 {
  font-family: 'Biryani', sans-serif;
}

.container {
  margin-left: 3%;
  margin-right: 2%;
  padding-left: 8%;
  padding-right: 10%;
  text-align: left;
  align-items: center;
  vertical-align: middle;
}

.search-button {
  border: 20px;
  border-color: black;
  margin: 8px 6px;
  padding: 15px 32px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  background-color: #f2531b;
  text-align: center;
  text-decoration: bold;
  border-radius: 10px;
}

.landing-page img {
  max-width:500px;
  padding: 20px;
  border-radius: 40px;
}

ul {
  list-style-type: none;
}

.search-area {
  max-width: 50%;
  align-items: left;
}

#js-search-term {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #black;
}

#results-list img {
  max-width: 100px;
}

#expanded-results img {
  max-width: 200px;
}

.error-message {
  color: black;
}

.hidden {
  display: none;
}

a:link, a:visited, a:hover, a:active {
  color: #47bb02;
}


/*


/* #cartoon {
  background-image: url(./cooking_man_chef.png);
  background-repeat: no-repeat; 
  width: 600px;
  height: 200px;
}

@media screen and (min-width: 520px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu > .item {
    flex: 1 1 50px;
    border: none;
  }
  
  .menu > .item > input {
    width: 90%;
  }
  
  .menu > .name {
    flex: 0 0 120px;
  }
  
  .menu > .logo {
    flex: 0 0 35px;
  }
}

.landing-page button {
  border: 4px;
  border-color: black;
  margin: 4px 2px;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

  text-shadow:
    -4px -4px 0 #000,
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;

    background-image: url("./food_pattern.jpg");

*/