* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.search-button {
  border: 4px;
  border-color: black;
  margin: 4px 2px;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input.button {
  border: 4px;
  border-color: black;
  margin: 4px 2px;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

#expanded-results {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.menu {
  background-color: green;
  color: white;
  vertical-align: middle;
  padding: 15px;
  font-size: 35px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: right;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.menu img {
  max-width: 200px;
  align-items: center;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.results-img {
  max-width: 300px;


/*
@media screen and (min-width: 520px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu > .item {
    flex: 1 1 50px;
    border: none;
  }
  
  .menu > .item > input {
    width: 90%;
  }
  
  .menu > .name {
    flex: 0 0 120px;
  }
  
  .menu > .logo {
    flex: 0 0 35px;
  }
}
*/